<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OOPP Project</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../BizPage/img/favicon.png" rel="icon">
  <link href="../BizPage/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../BizPage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../BizPage/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../BizPage/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../BizPage/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../BizPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../BizPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="../BizPage/css/create.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../BizPage/css/style.css" rel="stylesheet">

</head>
<body>
<section id="for_create" style="display: ">
    <div class="popup-overlay" style="display:none;">
 
        <div class="popWindow subscribe_window" style="display:none;">
          <p class="subcsribe-text">Fill in the required fields for your shop</p>
          <form class="subscribe-form" autocomplete="off">
            <div>
              <input type="text" id="name-subscribe" name="Name" placeholder=" " required>
              <label for="name-subscribe">Name <span>*</span></label>
            </div>
            <div>
              <input type="email" id="email-subscribe" name="E-mail" placeholder=" " required>
              <label for="email-subscribe">Email <span>*</span></label>
            </div>
            <div>
              <input type="text" id="Shop-description" name="Description" placeholder=" " required>
              <label for="email-subscribe">Description <span>*</span></label>
            </div>
            <div class="aligncenter">
              <button type="submit" class="btn"><i class="fa fa-check" aria-hidden="true"></i> Register</button>
            </div>
            <div class="req-fields"><sup style="color: orange">*</sup> required fields</div>
          </form>
          <div class="close-btn">&times;</div>
        </div><!-- /subscribe_window -->
 
        <div class="popWindow thank_you_window">
          <p class="thank_you_title">Thank you for registering!</p>
          <p class="thank_you_body">We've sent some useful tips to your email. Go ahead and check them now!</p>
          <div class="close-btn">&times;</div>
        </div><!-- /thank_you_window -->
 
      </div><!-- /popup-overlay -->

</section>
  <!--==========================
    Header
  ============================-->
<section id="nav-bar">
  <header id="header" style="background: black">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">OOPP Project</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html#intro">Home</a></li>
          <li><a href="index.html#about">About Us</a></li>
          <li><a href="index.html#services">Services</a></li>
          <li><a href="index.html#team">Team</a></li>
          <li><a href="index.html#contact">Contact</a></li>
            <li><a href="listings.html">Listings</a></li>
            <li class="menu-has-children"><a href="">Profile</a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li id="Button_Create"><a href="#">Create Shop</a></li>
              <li><a href="#">Favourites</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
</section>
    
    <section id="listings" style="padding-top: 100px;">
        <div class="container">

        <header class="section-header">
          <h3>Listings</h3>
          <p>This is all the shops that are registered on this website. The top few are the more popular recommendations made by other users.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="../BizPage/img/about-mission.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">Shop 1 (add in the rating thingy)</h2>
              <p>
                  Shop Description
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../BizPage/img/about-plan.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">Shop 2</h2>
              <p>
                  Shop Description
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="../BizPage/img/about-vision.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">Shop 3</h2>
              <p>
                  Shop Description
              </p>
            </div>
          </div>
            
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="../BizPage/img/about-vision.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">New shop</h2>
              <p>
                  Message...
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>If you should have any issues, please do let us know the problems and we will fix it ASAP.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Nanyang Polytechnic, Singapore</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p>+65 3182 3823</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">OOPP@Project.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>OOPP</h3>
            <p>Random Message. OOPP PROJECT on SMART NATION/SMART HEALTH.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#services">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Nanyang Polytechnic<br>
              180 Ang Mo Kio Ave 8, 569830<br>
              Singapore <br>
              <strong>Phone:</strong> +65 3213 3231<br>
              <strong>Email:</strong> OOPP@PROJECT.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to get latest updates and news about our Website and our Products.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
    
    <script>
        var modal = document.getElementById("for_create")
        var btn = document.getElementById("Button_Create")
        //btn.onclick = function() {
        //    modal.style.display = "block";
        //}
    </script>
  <script src="../BizPage/lib/jquery/jquery.min.js"></script>
  <script src="../BizPage/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../BizPage/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../BizPage/lib/easing/easing.min.js"></script>
  <script src="../BizPage/lib/superfish/hoverIntent.js"></script>
  <script src="../BizPage/lib/superfish/superfish.min.js"></script>
  <script src="../BizPage/lib/wow/wow.min.js"></script>
  <script src="../BizPage/lib/waypoints/waypoints.min.js"></script>
  <script src="../BizPage/lib/counterup/counterup.min.js"></script>
  <script src="../BizPage/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../BizPage/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../BizPage/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../BizPage/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../BizPage/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../BizPage/js/main.js"></script>
  <!-- Extra stuff -->
    <script src="../BizPage/js/create.js"></script>
</body>
</html>
